:root {
    --bg-light: #f8f9fa;
    --bg-dark: #343a40;

    /* --text-light-main: #ffffff;
    --text-light-secondary: #d4d8db;
    --text-light-tertiary: #969696; */
    /* --text-light-main: #f6ead1;
    --text-light-secondary: #dbccab;
    --text-light-tertiary: #a89c83; */
    --text-light-main: #fffaef;
    --text-light-secondary: #f6ead1;
    --text-light-tertiary: #d9cdb4;
    --text-dark-main: #101214;
    --text-dark-secondary: #343a40;
    --text-dark-tertiary: #6c757d;

    --green: #28a745;
    --red: #dc3545;
    --purple: #6f42c1;
    --orange: orange;
}

body {
    background-color: var(--bg-dark);
    color: var(--text-light-main);
}

.header, .left a {
    color: var(--text-light-main);
}

.nav a, .right a{
    color: var(--text-light-secondary);
}

.nav a:hover, .right a:hover{
    color: var(--text-light-main);
}

footer, footer a {
    color: var(--text-light-tertiary);
}

footer a:hover {
    color: var(--text-light-secondary);
}

.selected{
    color: var(--text-light-main)!important;
}

label {
    background-color: var(--text-light-secondary);
    color: var(--text-dark-secondary);
    transition: all 0.1s ease-in-out;
}

/* checked */
input[type="radio"]:checked + label {
    background-color: var(--green);
    color: var(--text-light-main);
}
/* hover */
label:hover {
    background-color: var(--green);
    color: var(--text-light-main);
}

.words {
    color: var(--text-light-tertiary);
}

.typeArea {
    border-color: var(--text-light-tertiary)!important;
}

.cursor, .cursorLine, .highlight {
    color: orange;
}

.stats, .statLabel {
    color: var(--text-light-secondary);
}

.statsBtn {
    /* background-color: var(--text-light-tertiary); */
    color: var(--text-light-secondary);
}
.statsBtn:hover {
    /* background-color: var(--text-light-secondary); */
    background-color: var(--text-light-secondary);
    color: var(--text-dark-main);
}
