:root {
    --bg-light: #f8f9fa;
    --bg-dark: #343a40;

    --text-light-main: #ffffff;
    --text-light-secondary: #d4d8db;
    --text-light-tertiary: #969696;
    --text-dark-main: #101214;
    --text-dark-secondary: #343a40;
    --text-dark-tertiary: #6c757d;

    --green: #28a745;
    --red: #dc3545;
    --purple: #6f42c1;
    --orange: orange;
}


body {
    background-color: var(--bg-light);
    color: var(--text-dark-main);
}

.header, .left a {
    color: var(--text-dark-main);
}

.nav a, .right a{
    color: var(--text-dark-secondary);
}

.nav a:hover, .right a:hover{
    color: var(--text-dark-main);
}

footer, footer a {
    color: var(--text-dark-tertiary);
}

footer a:hover {
    color: var(--text-dark-secondary);
}

.selected{
    color: var(--text-dark-main)!important;
    /* border-bottom: #101214;
    border-bottom-style: solid; */
}

label {
    background-color: var(--bg-dark);
    color: var(--text-light-main);
    transition: all 0.1s ease-in-out;
}

/* checked */
input[type="radio"]:checked + label {
    background-color: var(--green);
    color: var(--text-light-main);
}
/* hover */
label:hover {
    background-color: var(--green);
    color: var(--text-light-main);
}

.words {
    color: var(--text-dark-tertiary);
}

.typeArea {
    border-color: var(--text-dark-tertiary)!important;
}

.cursor, .cursorLine, .highlight {
    color: rgb(236, 154, 0);
}

.stats, .statLabel {
    color: var(--text-dark-secondary);
}

.statsBtn:hover {
    /* background-color: var(--text-light-secondary); */
    background-color: var(--text-light-secondary);
    color: var(--text-dark-main);
}
