:root {
    --bg-light: #f8f9fa;
    --bg-dark: #343a40;
    --bg-dark-secondary: #434b53;

    --text-light-main: #ffffff;
    --text-light-secondary: #d4d8db;
    --text-dark-main: #101214;
    --text-dark-secondary: #343a40;

    --green: #28a745;
    --red: #dc3545;
    --purple: #6f42c1;
    --orange: orange;

    --font-normal: 1rem;
    --font-large: 1.2rem;
    --font-xlarge: 1.5rem;
    --font-xxlarge: 1.7rem;
    --font-small: 0.8rem;
    --font-xsmall: 0.7rem;
}

@media screen and (min-width: 1001px) {
    body {
        font-size: 1.1rem;
    }
    .typeArea {
        font-size: var(--font-xxlarge);
    }
    footer {
        font-size: var(--font-small);
    }
    .blurText {
        font-size: var(--font-xxlarge);
    }
    .nav a {
        margin-left: 30px;
    }
    .statLabel {
        font-size: var(--font-large);
    }
    .bigNum {
        font-size: 8rem;
    }
    .bigText {
        font-size: 2.5rem;
    }
    .statNum {
        font-size: 3rem;
    }
}

@media screen and (max-width: 1000px) {
    body {
        font-size: 0.9rem;
    }
    .typeArea {
        font-size: var(--font-xlarge);
    }
    footer {
        font-size: var(--font-xsmall);
    }
    .blurText {
        font-size: var(--font-xlarge);
    }
    .nav a, .right a {
        padding: 10px;
        background-color: var(--bg-dark);
        border-radius: 4px;
        font-size: var(--font-normal);
    }
    .navText {
        display: none;
    }
    h1 {
        font-size: var(--font-xlarge);
    }
    .nav a {
        margin-left: 10px;
    }
}

@media screen and (max-width: 600px) {
    body {
        font-size: 0.8rem;
    }
    .typeArea {
        font-size: var(--font-large);
    }
    footer {
        font-size: var(--font-xsmall);
    }
    .blurText {
        font-size: var(--font-large);
    }
    .nav a, .right a {
        padding: 10px;
        background-color: var(--bg-dark-secondary);
        border-radius: 4px;
        font-size: var(--font-small);
    }
    .navText {
        display: none;
    }
    h1 {
        font-size: var(--font-large);
    }
    .statLabel {
        font-size: var(--font-normal);
    }
    .bigNum {
        font-size: 4rem;
    }
    .bigText {
        font-size: var(--font-xxlarge);
    }
    .statNum {
        font-size: 2rem;
    }
}

html, body {
    height: 100%;
}

.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -40px;
}


footer {
    height: 40px; 
    text-align: center;
    justify-content: space-between;
    transition: opacity 1s;
    word-spacing: 20px;
}

body {
    font-family: 'Roboto Slab', serif;

    line-height: 1.5;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

.header {
    padding: 1rem 2rem 1rem 2rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    transition: opacity 1s;
}

.left, .right {
    display: flex;
    align-items: center;
}

.nav {
    margin-left: 15px;
}

.nav a, footer, footer a, .right a, .logo a, .left a{
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}


.main {
    padding: 1rem 2rem 1rem 2rem;
}

.correct, .incorrect {
    opacity: 1!important;
    transition: opacity 0.1s ease-out;
}

.y, .correct {
    color: var(--green);
}

.n, .incorrect {
    color: var(--red);
    text-decoration: underline;
    text-decoration-color: var(--red);
}

.wordIncorrect {
    text-decoration: underline;
    text-decoration-color: var(--red);
}

.active {
    text-decoration: none!important;
}

.settingsColumn {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


input[type="radio"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
  
label {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    min-width: 150px;
    text-align: center;
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.firstLbl {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-right: 2.5px;
}
.lastLbl {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-left: 2.5px;
}
.middleLbl {
    margin-right: 2.5px;
    margin-left: 2.5px;
}



.stats {
    height: 30px;
    display: flex;
    padding-left: 10px;
}

.contained{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    transition: all 0.3s ease-in-out;
}

.hiddenInput {
    width: 100%;
    height: 100%;
    opacity: 0.0;
    position: absolute;
    z-index: 4;
}

.fSa{
    font-family: 'Inter', sans-serif;
}

.fMo {
    font-family: 'Roboto Slab', serif;
}

.fSe {
    font-family: 'Frank Ruhl Libre', serif;
}

.toggle {
    display: flex;
}

.typeArea {
    border: 1px solid;
    border-radius: 4px;
    padding: 20px 25px 20px 25px;
    letter-spacing: 1px;
    word-spacing: 2px;
    position: relative;
}

.words2{
    position: absolute;
    top: 20px;
    /* left: 26px; */
}

.words {
    overflow: hidden;
    height: 126px;
    width: 100%;
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
}

.word letter {
    display: inline block;
}

.word {
    padding-right:10px; 
}

.cursor {
    opacity: 1;
    /* transition: opacity 1s ease-in-out; */
    letter-spacing: -5px;
}

.cursorLine {
    position: absolute;
    z-index: 3;
}

.statsBlock {
    /* vertical and horizontal centre */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    justify-content: center;
}

.topBanner, .bottomStats {
    display: flex;
    justify-content: space-between;  
}
.topBanner {
    align-items: center;
    margin-bottom: 80px;
}

.bigStat {
    margin-right: 60px;
    line-height: 1;
}

.bigNum {
    margin: 0;
    padding: 0;
}

.statLabel {
    padding: 0;
    margin: 0;
    /* center hosirizonally */
    text-align: center;
}

.bigText {
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

.stat {
    width: 100px;
}

.statNum {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    /* horizontally align */
    text-align: center;

}

.endStats {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.buttons {
    display: flex;
    /* align center */
    margin-top: 30px;
}

.statsBtn {
    padding: 10px 20px 10px 20px;
    background: none;
    border-radius: 3px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    margin-right: 50px;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    border: 1px solid;
}

@keyframes shake {
    0% { transform: translate(0.5px, 0.5px) rotate(0deg); }
    10% { transform: translate(-0.5px, -1px) rotate(-0.5deg); }
    20% { transform: translate(-1px, 0px) rotate(0.5deg); }
    30% { transform: translate(0.5px, 1px) rotate(0deg); }
    40% { transform: translate(0.5px, -0.5px) rotate(0.5deg); }
    50% { transform: translate(-0.5px, 1px) rotate(-0.5deg); }
    60% { transform: translate(-0.5px, 0.5px) rotate(0deg); }
    70% { transform: translate(0.5px, 0.5px) rotate(-0.5deg); }
    80% { transform: translate(-0.5px, -0.5px) rotate(0.5deg); }
    90% { transform: translate(0.5px, 1px) rotate(0deg); }
    100% { transform: translate(0.5px, -1px) rotate(-0.5deg); }
}

.shaking {
    animation: shake 0.25s;
    animation-iteration-count: 1; 
}

.typeBlur {
    filter: blur(3px);
    transition: all 0.3s ease-in-out;
    opacity: 0.3;
}

.blurText {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1!important;
    filter: blur(0px)!important;

    position: absolute;
    top: 50%;
    transform: translate(-5%, -50%);

    z-index: 2;
    text-shadow: 0px 0px 5px #00000038;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.alphabet, .piWords {
    height: auto!important;
}

.piDigit {
    max-width: 60%;
    /* overflow text mid word */
    overflow-wrap: break-word;
}

.piDigit {
    opacity: 0;
}

.piArea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}